[submodule "themes/hugo-black-and-light-theme"]
	path = themes/hugo-black-and-light-theme
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme
[submodule "academia/hugo-black-and-light-theme"]
	path = academia/hugo-black-and-light-theme
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme
[submodule "academia/themes/hugo-black-and-light-theme"]
	path = academia/themes/hugo-black-and-light-theme
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme
[submodule "academia/hugo-tranquilpeak-theme"]
	path = academia/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "manis-hugo-theme"]
	path = manis-hugo-theme
	url = https://github.com/yursan9/manis-hugo-theme
[submodule "academia/manis-hugo-theme"]
	path = academia/manis-hugo-theme
	url = https://github.com/yursan9/manis-hugo-theme
